<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="ContactSession1.dll" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\ContactSession1.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>
